
body {
	margin:0;
	display: flex;
	flex-direction: column;
	align-items: center; /*
Center elements horizontally*/
	padding-top: 0px;
}
h1 {
	font-size: 48px;
	font-weight: bold;
	margin-bottom: 20px;
	padding-top: 0px;
}
p{
	font-size:  28px;
	font-weight: bold;
	margin-bottom: 40px;
	padding-top: 0px;
}
header {
	top: 0; /* Aligns the header at the top of the page*/
	left: 0; /* Aligns the header to the left side of the page */
	width: 100%; /*Center the text inside the header */
	text-align: center; /* Add some space at the top of the header*/
	padding: 15px 0; /*Adds padding inside the header for spacing */
	z-index: 1000; /* Ensure the header stays on top of other content */
	margin-top: 20px;
	background-color: #333; /*Sets the background color of the header */
	color: white; /*Sets the text color to white*/
}
.subtitle {
	font-size:  28px;
	font-weight: bold;
	margin-bottom: 40px;
	padding-top: 0px;
}
.centered-text {
	text-align: center;
	font-weight: bold;
	font-size:  20px;
	margin-bottom: 40px;
}
.container {
	background-color: #fff;
	padding: 40px;
	width: 800px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
